[submodule "themes/hugo-theme-lecturenotes"]
	path = themes/hugo-theme-lecturenotes
	url = https://gitlab.com/FMuro/hugo-theme-lecturenotes.git
[submodule "hugotopdf"]
	path = hugotopdf
	url = https://gitlab.com/FMuro/hugotopdf
