public/
static/docs/latex.*
!static/docs/latex.pdf
.vscode/
pics/*
!pics/pics.tex
!pics/script.sh
exercises/clase.aux
exercises/clase.log
exercises/clase.out
exercises/clase.pdf
exercises/clase.synctex.gz
.DS_Store
