[submodule "themes/hugo-theme-lecturenotes"]
	path = themes/hugo-theme-lecturenotes
	url = https://gitlab.com/edarfoc/hugo-theme-lecturenotes.git
[submodule "hugotopdf"]
	path = hugotopdf
	url = https://gitlab.com/edarfoc/hugotopdf
[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
